#wrapper {
    &.reset_password {
        padding-top: 14%;
        section {
            &.section {
                &#content {
                    .inner {
                        max-width: 1200px;
                        width: 88.888%;
                        margin: 0 auto 80px;
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                        @include sp {
                            max-width: 100%;
                            margin: 0 auto 8vw;
                        }
                        @include sp_min {
                            margin: 0 auto 10.416vw;
                        }
                        .reset_password_wrapper {
                            background: #f7f7f7;
                            padding: 70px;
                            @include sp {
                                padding: 7vw;
                            }
                            @include sp_min {
                                padding: 9.115vw;
                            }
                            .reset_password_form {
                                h3 {
                                    font-size: 30px;
                                    line-height: 35px;
                                    font-weight: 700;
                                    margin-bottom: 30px;
                                    @include sp {
                                        font-size: 4.1vw;
                                        line-height: 5.1vw;
                                        margin-bottom: 3vw;
                                    }
                                    @include sp_min {
                                        font-size: 5.208vw;
                                        line-height: 5.859vw;
                                        margin-bottom: 3.906vw;
                                    }
                                }
                                p {
                                    font-size: 18px;
                                    line-height: 25px;
                                    font-weight: 500;
                                    color: $clr-base-font;
                                    margin-bottom: 30px;
                                    @include sp {
                                        font-size: 2.4vw;
                                        line-height: 3.2vw;
                                        margin-bottom: 3vw;
                                    }
                                    @include sp_min {
                                        font-size: 3.125vw;
                                        line-height: 3.906vw;
                                        margin-bottom: 3.906vw;
                                    }
                                }
                                form {
                                    ul {
                                        li {
                                            margin-bottom: 20px;
                                            padding: 0 25%;
                                            @include sp {
                                                margin-bottom: 1.4vw;
                                                padding: 0;
                                            }
                                            @include sp_min {
                                                margin-bottom: 1.822vw;
                                                padding: 0;
                                            }
                                            input {
                                                width: 100%;
                                                height: 65px;
                                                border-radius: 5px;
                                                font-size: 17px;
                                                line-height: 20px;
                                                margin-bottom: 15px;
                                                font-weight: 500;
                                                @include sp {
                                                    height: 7.5vw;
                                                    border-radius: 0.5vw;
                                                    font-size: 2.2vw;
                                                    line-height: 3vw;
                                                    margin-bottom: 2.5vw;
                                                }
                                                @include sp_min {
                                                    height: 8.463vw;
                                                    border-radius: 0.651vw;
                                                    font-size: 2.604vw;
                                                    line-height: 3.255vw;
                                                    margin-bottom: 3.125vw;
                                                }
                                            }
                                        }
                                    }
                                    .container_login {
                                        .btn_reset {
                                            width: 50%;
                                            height: 65px;
                                            background-color: $clr-base-font;
                                            color: $clr-base;
                                            font-weight: bold;
                                            font-size: 20px;
                                            line-height: 55px;
                                            cursor: pointer;
                                            border-radius: 4px;
                                            border: none;
                                            margin-bottom: 9px;
                                            @include sp {
                                                width: 100%;
                                                height: 7.5vw;
                                                font-size: 2.4vw;
                                                line-height: 5.5vw;
                                                border-radius: 0.4vw;
                                                margin-bottom: 0.9vw;
                                            }
                                            @include sp_min {
                                                width: 100%;
                                                height: 8.463vw;
                                                font-size: 3.125vw;
                                                line-height: 7.161vw;
                                                border-radius: 0.521vw;
                                                margin-bottom: 1.172vw;
                                            }
                                        }
                                    }
                                    .special_word {
                                        color: $clr-base-font;
                                        font-size: 18px;
                                        line-height: 20px;
                                        font-weight: 500;
                                        cursor: pointer;
                                        @include sp {
                                            font-size: 2.4vw;
                                            line-height: 3vw;
                                        }
                                        @include sp_min {
                                            font-size: 2.604vw;
                                            line-height: 3.125vw;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
  }